# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Working with JSON files

Import the pandas library

In [11]:
# Your import here:
import pandas as pd
import numpy as np
import openpyxl
import xlrd

####  After importing pandas, let's find a dataset. In this lesson we will be working with a NASA dataset.

Run the code in the cell below to load the dataset containing information about asteroids that have landed on earth. This piece of code helps us open the URL for the dataset and deocde the data using UTF-8.

In [12]:
# Run this code

from urllib.request import urlopen
import json

response = urlopen("https://data.nasa.gov/resource/y77d-th95.json")
json_data = response.read().decode('utf-8', 'replace')

import os

print(os.getcwd())
print(os.listdir(os.getcwd()))

/Users/miguel.d.ferrusca/Google Drive/Ironhack/M1/lab-import-export/your-code
['main.ipynb', 'Learning.ipynb', 'Learning2.ipynb', 'shuttle.csv', 'fertility_Diagnosis.txt', 'nasa.json', 'vehicles', '.ipynb_checkpoints', 'astronaut.csv', 'astronauts.xls']

In the next cell, load the data in `json_data` and load it into a pandas dataframe. Name the dataframe `nasa`.

In [26]:
# Your code here:

nasa = pd.read_json("nasa.json")

Now that we have loaded the data, let's examine it using the `head()` function.

In [27]:
# Your code here:

nasa.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

#### The `value_counts()` function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the `value_counts()` function to determine the frequency of all types of asteroid landings by applying the function to the `fall` column.

In [28]:
# Your code here:

nasa.value_counts()

TypeError: unhashable type: 'dict'

Finally, let's save the dataframe as a json file again. Since we downloaded the file from an online source, the goal of saving the dataframe is to have a local copy. Save the dataframe using the `orient=records` argument and name the file `nasa.json`.

In [29]:
# Your code here:

nasa.to_json("/Users/miguel.d.ferrusca/Google Drive/Ironhack/M1/lab-import-export/nasa2.json", orient='records')

# Challenge 2 - Working with CSV and Other Separated Files

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [6]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [7]:
# Your code here:

shuttle = pd.read_csv(tst_url, sep=' ')

Let's verify that this worked by looking at the `head()` function.

In [9]:
# Your code here:
shuttle.head()

   55  0  81  0.1  -6  11  25  88  64  4
0  56  0  96    0  52  -4  40  44   4  4
1  50 -1  89   -7  50   0  39  40   2  1
2  53  9  79    0  42  -2  25  37  12  4
3  55  2  82    0  54  -6  26  28   2  1
4  41  0  84    3  38  -4  43  45   2  1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [10]:
# Your code here:

shuttle.to_csv("/Users/miguel.d.ferrusca/Google Drive/Ironhack/M1/lab-import-export/shuttle.csv")

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [15]:
# Your code here:

astronaut = pd.read_excel("astronauts.xls")

Use the `head()` function to inspect the dataframe.

In [18]:
# Your code here:

astronaut.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [30]:
# Your code here:

astronaut.value_counts()

Name                 Year    Group  Status    Birth Date  Birth Place      Gender  Alma Mater                                                              Undergraduate Major     Graduate Major                              Military Rank       Military Branch  Space Flights  Space Flight (hr)  Space Walks  Space Walks (hr)  Missions                                     Death Date  Death Mission
David M. Brown       1996.0  16.0   Deceased  1956-04-16  Arlington, VA    Male    College of William & Mary; Eastern Virginia Medical School              Biology                 Medicine                                    Captain             US Navy          1              382                0            0.0               STS-107 (Columbia)                           2003-02-01  STS-107 (Columbia)       1
Ellison S. Onizuka   1978.0  8.0    Deceased  1946-06-24  Kealakekua, HI   Male    University of Colorado                                                  Aerospace Engineering   Aerospace Engineering                       Lieutenant Colonel  US Air Force     2              73                 0            0.0               STS 51-C (Discovery), STS 51-L (Challenger)  1986-01-28  STS 51-L (Challenger)    1
Laurel B. Clark      1996.0  16.0   Deceased  1961-03-10  Ames, IA         Female  University of Wisconsin-Madison                                         Zoology                 Medicine                                    Captain             US Navy          1              382                0            0.0               STS-107 (Columbia)                           2003-02-01  STS-107 (Columbia)       1
Michael J. Smith     1980.0  9.0    Deceased  1945-04-30  Beaufort, NC     Male    US Naval Academy; US Naval Postgraduate School                          Naval Sciences          Aeronautical Engineering                    Captain             US Navy          1              0                  0            0.0               STS 51-L (Challenger)                        1986-01-28  STS 51-L (Challenger)    1
Michael P. Anderson  1995.0  15.0   Deceased  1959-12-25  Plattsburgh, NY  Male    University of Washington; Creighton University                          Physics & Astronomy     Physics                                     Lieutenant Colonel  US Air Force     2              594                0            0.0               STS-89 (Endeavor), STS-107 (Columbia)        2003-02-01  STS-107 (Columbia)       1
Rick D. Husband      1995.0  15.0   Deceased  1957-07-12  Amarillo, TX     Male    Texas Tech University; California State University                      Mechanical Engineering  Mechanical Engineering                      Colonel             US Air Force     2              617                0            0.0               STS-96 (Discovery), STS-107 (Columbia)       2003-02-01  STS-107 (Columbia)       1
William C. McCool    1996.0  16.0   Deceased  1961-09-23  San Diego, CA    Male    US Naval Academy; University of Maryland; US Naval Postgraduate School  Naval Sciences          Computer Science; Aeronautical Engineering  Commander           US Navy          1              382                0            0.0               STS-107 (Columbia)                           2003-02-01  STS-107 (Columbia)       1
dtype: int64

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [31]:
# Your code here:

astronaut.to_csv("/Users/miguel.d.ferrusca/Google Drive/Ironhack/M1/lab-import-export/astronaut.csv")

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function.

In [15]:
# Your code here: